body{
    background-color: lightseagreen;
    background-image: url("image\ one.jpg");
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(8, 68, 70);
}
.logo{
    text-indent: -9999999px;
    background: url("kemri\ logo.jpeg");
    width: 466px;
    height: 460px;
    background-repeat: no-repeat;
    background-position: center;
   
}

/*padding is space between the sentences*/
