body{
    background-color: rgb(57, 141, 137);
    background-repeat: no-repeat;
    background-position: center;
    color: black;
}
.logo{
    text-indent: -9999999px;
    background: url("kemri\ logo.jpeg");
    width: 260px;
    height: 260px;
    background-repeat: no-repeat;
    background-position: center;
   
}
.TopNav{

    background-color: gray;
    width: fit-content;
    overflow: auto;
    }
.TopNav a{
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: solid;
        font size:17px;
    }

    .covid{
        width: 500px;
        height: 300px;
    }

    h1{
        font: bold;
        text-align: center;
    }
    
    h2{
        font: bold;
        text-align: center;
    }

    h3{
        font: bold;
        text-align: center;
    }

    h4{
        font: bold;
        text-align: center;
    }

    a {
        background-color: rgb(136, 149, 173);
        color: cornsilk;
        padding: 5px;
        text-decoration: none;
        font-weight: 800;
        border-radius: 5px;

    }

    a:hover{
        background-color: cornsilk;
        color:  rgb(136, 149, 173);
        padding: 10px;
    }




/*padding is space between the sentences*/
