body{
    background-color: lightseagreen;
    background-repeat: no-repeat;
    background-position: center;
    color: black;
}
.logo{
    text-indent: -9999999px;
    background: url("kemri\ logo.jpeg");
    width: 260px;
    height: 260px;
    background-repeat: no-repeat;
    background-position: center;
   
}



/*padding is space between the sentences*/
